
#top {
    position: relative;
    background-color: whitesmoke;
    padding: 5px;
    margin: 0px 0px 0px 0px;
}

#bottom {
    position: relative;
    background-color: whitesmoke;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    min-height: 50px;
}

#left {
    float: left;
    background-color: whitesmoke;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: whitesmoke;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: whitesmoke;
    padding: 5px;
    margin: 10px auto;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(204,204,204,1);
    box-shadow: 0px 0px 5px 5px rgba(204,204,204,1);

}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    text-decoration : none;
}

.ui-panelgrid{
    margin: 10px auto;
}

.bajoPerfil{
    color: slategrey;
}

.pnlGridSinBordes.ui-panelgrid>*>tr,
.pnlGridSinBordes.ui-panelgrid .ui-panelgrid-cell {
    border: none;
    background: transparent;
}